@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: 'Open Sans', Quicksand;
  color: $text-color;
  // transition: all 0.1s ease-in-out;
}

// @keyframes background-change {
//   0% {
//     background: url(./assets/cells.jpg) fixed center;
//   }
//   9% {
//     background: url(./assets/cells.jpg) fixed center;
//   }
//   10% {
//     background: url(./assets/cells.jpg) fixed center;
//   }
//   19% {
//     background: url(./assets/cells.jpg) fixed center;
//   }
//   20% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   29% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   30% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   39% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   40% {
//     background: url(./assets/earth.png) fixed center;
//   }
//   49% {
//     background: url(./assets/earth.png) fixed center;
//   }

//   50% {
//     background: url(./assets/earth.png) fixed center;
//   }
//   59% {
//     background: url(./assets/earth.png) fixed center;
//   }

//   60% {
//     background: url(./assets/earth.png) fixed center;
//   }
//   69% {
//     background: url(./assets/earth.png) fixed center;
//   }

//   70% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   79% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }

//   80% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   89% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   90% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }
//   100% {
//     background: url(./assets/background-image.jpg) fixed center;
//   }

// }


body {
  background-attachment: fixed;
  background: url(./assets/background-image2.jpg) fixed center;
  background-size: 2000px auto;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 0.05 ease;
}
* > p {
  color: $text-color;
  font-size: 16px;// cycle the background images
  // let imgNum = 0;
  // window.setInterval( () => {
  //   console.log('interval hitting')
  // }, 1000 )
  // setInterval(() => {
  //   console.log('changing color')
  //   const bodyElt = document.querySelector("body");
  //   bodyElt.style.background = `url(./assets/cells2.jpg) fixed center` 
  //   imgNum ++;
  // }, 1000)
}
* > a {
  color: rgb(71, 156, 253);
  &:hover {
    color: rgb(57, 125, 202);
    text-decoration: none;    
  }
}
* > span {
  width: 100%;
}
* > i {
  transition: all 0.3s ease;
  font-size: 16px;
}
* > .btn {
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}
hr {
  /* border: 0; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  // height: 0.3px;
  margin-bottom: 10px;
}

/* to remove spacing between bootstrap cols - https://stackoverflow.com/questions/40267056/remove-spacing-between-cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.center-all-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-all-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-all-col {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-all-row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.space-all-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


// common uses
.heading,
.outline,
.article-result,
.collection-block {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.glass {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.glass,
.outline {
  box-shadow: 0px 0px 3px 1px rgba(24, 24, 24, 0.2);
}

.article-result {
  box-shadow: -1px 1px 1px 1px rgba(134, 134, 134, 0.2);  
  width: 100%;
  margin: 2px;
  // border-radius: 2px;
  // background-color: rgba(19, 35, 90, 0.377);
  padding: 10px;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(253, 253, 253, 0.822)
  }
}

.page {
  position: relative;
  max-width: 900px;
  margin: auto auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

.page-content {
  min-height: 100vh;
}

/* for any glass background container, add this to the parent div */
.glass {
  position: relative;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.945);
  // background-color: rgba(0, 18, 68, 0.738);
  margin: 0px 2px 0px 2px;
}
// .glass:before {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
  // background: url(./assets/background-image2.jpg) fixed center;
  // filter: blur(10px);
  // background-size: 100vw auto;
  // box-shadow:inset 0 0 0 50vw rgba(0, 0, 0, 0.2);
// }

/* for any outlined container, add this to the parent div */
.outline {
  border: 1px solid rgba(255, 255, 255, 0.226);
  // background-color: rgba(4, 14, 49, 0.241);
  // background-color: rgba(255, 255, 255, 0.808);
  // width: 92%;
  margin: 4px;
}

/* this will be the universal border-radius */
.glass,
.outline {
  border-radius: 2px;
}

/* to make bootstrap columns equal height */
.row-eq-height {
  // margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height > .col-12 {
  margin-top: 4px;
}

/* some common text / button classes */
.title,
.subtitle {
  padding: 5px 25px;
}
.title {
  margin: 10px;
  font-size: 30px;
}
.subtitle {
  font-size: 18px;
}
.paragraph {
  font-size: 16px;
  padding: 0px 20px;
  // margin: 0px;
  align-self: flex-start;
}
.text {
  padding: 0px 25px;
}

/* buttons */
.block-button,
.article-button,
.add,
.warn,
.view {
  border: none;
}
.block-button {
  align-self: flex-start;
  margin: 10px 20px;
  // margin-top: 0px;
}
.article-button {
  margin: 4px;
}
.collection-button {
  margin: 20px;
}
.warn {
  background-color: rgb(180, 67, 86);
}
.warn:hover {
  background-color: rgb(146, 54, 69);
}
.warn-icon {
  color: rgb(180, 67, 86);
}
.warn-icon:hover {
  color: rgb(146, 54, 69);
}
.add {
  background-color: rgb(26, 98, 214);
}
.add:hover {
  background-color: rgb(0, 74, 194);
}
.back {
  background-color: rgb(117, 129, 148);
}
.back:hover {
  background-color: rgb(90, 97, 107);
}
.view {
  background-color: rgb(23, 146, 177);
}
.view:hover {
  background-color: rgb(16, 104, 126);
}


// the Header component 
.header {
  width: 95%;
  // background-color: whitesmoke;
}

/* the nav component */
.navigator {
  background-color: rgba(255, 255, 255, 0.945);
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
#logo {
  font-size: 32px;
  color: rgba(0, 60, 255, 0.94);
}
.nav-link {
  /* color: rgb(253, 233, 255); */
  font-size: 22px;
  transition: all 0.3s ease;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: rgb(97, 95, 95);
}
.nav-link:focus {
  text-decoration: underline;
}
// .links-holder {
//   // max-width: 800px;
// }
// //

/* the about page */
.about-img {
  width: 90%;
  margin: 10px;
  border-radius: 2px;
  box-shadow: -2px 2px 6px 1px rgba(24, 24, 24, 0.4);
}
.fa-file-alt,
.fa-users {
  color: whitesmoke;
  transition: all 0.3s ease;
  font-size: 24px;
  padding: 0px 20px;
}
.fa-project-diagram {
  color: whitesmoke;
  transition: all 1s ease;
  &:hover {
    transform: translateX(30px) translateY(-5px) rotate(35deg);
    -webkit-transform: translateX(30px) translateY(-5px) rotate(35deg);
    -ms-transform: translateX(30px) translateY(-5px) rotate(35deg);
    -moz-transform: translateX(30px) translateY(-5px) rotate(35deg);
    cursor: pointer;
    color: $main-blue;
  }
  font-size: 14px;
}
.anchor-link {
  font-size: 16px;
  font-weight: bold;
  color: rgb(71, 156, 253);
  &:hover {
    color: rgb(57, 125, 202);
  }
  margin: 4px;
}
.fa-compass {
  font-size: 28px;
  color: rgb(71, 156, 253);
  &:hover {
    color: rgb(57, 125, 202);
  }
  margin: 4px;
}


//

/* the search page */
.search-input {
  width: 60%;
  margin: 15px;
}
input {
  text-align: center;
}
.sort-link {
  font-size: 14px;
  font-weight: bold;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $main-blue;
  }
}
.loader {
  z-index: 100
}

//

/* the collection page */

/* the div holding the react-pdf PDFViewer */
/* the PDFViewer itself */
.pdf-viewer {
  border: 1px solid grey;
  width: 100% !important;
  height: 800px;
}
// if on mobile, just a link, since it won't display properly
.pdf-link {
  margin: 10px 20px;
}
.fa-file-download {
  margin: 2px 4px;
  padding: 0;
  font-size: 12px;
}

.collection, .thread {
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(253, 253, 253, 0.822)
  }
}
.collection-title {
  margin: 20px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}
.section-title {
  font-weight: bolder;
  font-size: 16px;
  align-self: flex-start;
  margin: 5px 20px;
}
.collection-block {
  width: 100%;
  margin: 4px;
  padding: 0;
}
.collection-edit {
  // margin: 8px 4px 0 0;
  padding: 4px;
  border-radius: 10px;
  font-size: 16px;
}
.fa-edit,
.fa-save,
.fa-undo {
  // color: whitesmoke;
  &:hover {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    cursor: pointer;
    color: rgb(167, 167, 167);
  }
  font-size: 24px;
}
.fa-times-circle,
.fa-check-circle {
  color: rgb(71, 71, 71);
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: $main-blue;
  }
}
.time {
  font-size: 12px;
  // color: silver;
  margin: 0px 24px;
  // padding: 4px;
}
.collection > div > span > div > div > .fa-edit {
  font-size: 10px;
  margin: 0px;
  padding: 6px;
}


//

// the profile page
.profile-title {
  margin: 4px 20px;
  margin-top: 10px;
  font-size: 18px;
  align-self: flex-start;
  font-weight: 600;
}
.fa-user-cog {
  color: $main-blue;
  &:hover {
    color: silver;
  }
}

.fa-atom,
.fa-dna {
  transition: all 1s ease;
  margin: 4px;
  color: $main-blue;
}
.fa-atom {
  &:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    cursor: pointer;
    color: whitesmoke;
  }
}
.fa-dna {
  &:hover {
    transform: rotateY(360deg) scaleY(1.3);
    -webkit-transform: rotateY(360deg) scaleY(1.3);
    -ms-transform: rotateY(360deg) scaleY(1.3);
    -moz-transform: rotateY(360deg) scaleY(1.3);
    cursor: pointer;
    color: whitesmoke;
  }
}
// .input-bg {
//   background-color: none;
// }
// .img-uploader {
//   // background-color: none;
//   color: whitesmoke;
// }
// .form-control {
//   color: whitesmoke;

//   background-color: inherit;
//   border: none;
//   margin: 0px;
//   padding: 0
// }
// .upload {
//   margin: 0;
//   margin-bottom: 10px;
//   font-size: 14px;
//   border-radius: 2px; 
// }

// the ThreadPage
.thread-title,
.thread-text,
.comment-title,
.comment-text {
  margin: 6px 20px;
}

.thread {
  align-self: flex-start;
  word-wrap: break-word;
}
.thread-title {
  font-weight: bolder;
  // color: rgb(227, 247, 253);
}
.thread-text {
  font-size: 16px;
}

.fa-edit,
.fa-trash-alt {
  font-size: 14px;
}
.fa-trash-alt {
  color: rgb(180, 67, 86);
  &:hover {
    color: rgb(146, 54, 69);
  }
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.comment-title,
.comment-text {
  font-size: 16px;
  padding: 0;
}
.comment-title {
  margin-bottom: 0;
}
.comment-text {
  margin-top: 0;
}

/* reactstrap modals */
/* this setting prevents the jumpy shift when the scrollbar disappears on modal popup */
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.modal-xl {
  /* margin: 0px; */
  padding: 1vw;
  max-width: 750px;
}
.modal-body {
  padding: 15px;
  background-color: whitesmoke;
}
.modal-body, .modal-header, .modal-footer {
  background-color: rgb(243, 243, 243);
}
.modal-title {
  color: black;
}

// The ArticleResult component
.article-title,
.article-text {
  padding: 0px 10px;
  margin: 2px;
  font-size: 16px;
  // color: rgb(255, 255, 255);
}
.article-text {
  font-size: 16px;
  // color: rgb(194, 194, 194);
}
//

// The ArticleViewer Component //
.preview {
  background-color: rgb(245, 245, 245);
}
.preview-title,
.preview-subtitle,
.preview-text {
  color: black;
}
.preview-title {
  font-size: 18px;
  font-weight: bold;
}
.preview-subtitle {
  font-size: 16px;
  font-weight: bold;
  color: rgb(13, 74, 172);
  margin-bottom: 0px;
}
.preview-text {
  font-size: 16px;
}
/* the article links */
.preview-link {
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 22px;
}
.fa-book-open {
  color: $main-blue
}
.fa-dollar-sign {
  color: rgb(23, 177, 49);
  &:hover {
    color: rgb(13, 104, 30);
  }
}
//

// CSSTransitionGroup animations

// fade
.fade-enter {
  opacity: 0.01;
  transform: scaleY(0.8);
  -webkit-transform: scaleY(0.8);
  -ms-transform: scaleY(0.8);
  -moz-transform: scaleY(0.8);
}

.fade-enter.fade-enter-active {
  transition: all 200ms ease-in;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -moz-transform: scaleY(1);
  opacity: 1;
}

// .fade-leave {
// opacity: 1;
// }

.fade-leave.fade-leave-active {
  transition: all 300ms ease-out;
  transform: translateX(1500px) translateY(-300px);
  -webkit-transform: translateX(1500px) translateY(-300px);
  -ms-transform: translateX(1500px) translateY(-300px);
  -moz-transform: translateX(1500px) translateY(-300px);
  opacity: 0.01;
}

// input / text replacing one another
.replace-enter {
  opacity: 0.01;
}

.replace-enter.replace-enter-active {
  transition: all 300ms ease-in;
  opacity: 1;
}

// .replace-leave {
// opacity: 1;
// }

.replace-leave.replace-leave-active {
  transition: all 300ms ease-out;
  // transform: scaleX(0.01);
  opacity: 0.01;
}

// drop
.drop-enter {
  transition: all 300ms ease-in;
  opacity: 0.01;
}

.drop-enter.drop-enter-active {
  transition: all 300ms ease-in;
  opacity: 1;
}

// .drop-leave {
// opacity: 1;
// }

.drop-leave.drop-leave-active {
  transition: all 30ms ease-out;
  // transform: translateY(-300px);
  opacity: 0.01;
}
