@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
  font-family: Quicksand;
  transition: all 0.1s ease-in-out;
}
body {
  background-attachment: fixed;
  background: url(./assets/background-image2.jpg) fixed center;
  background-size: 1600px auto;
  min-height: 100vh;
  overflow-x: hidden;
}
* > p {
  color: $text-color;
  font-size: 16px;
}
* > a {
  text-decoration: none;
}
* > span {
  width: 100%;
}
* > i {
  transition: all 0.3s ease;
}

hr {
  /* border: 0; */
  width: 100%;
  background-color: grey;
  height: 0.3px;
  margin-bottom: 10px;
}

/* to remove spacing between bootstrap cols - https://stackoverflow.com/questions/40267056/remove-spacing-between-cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.center-all-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// common uses
.heading,
.glass,
.outline,
.article-result,
.collection-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.glass,
.outline,
.article-result {
  box-shadow: -2px 2px 3px 1px rgba(24, 24, 24, 0.2);
}

.article-result {
  width: 100%;
  margin-top: 2px;
  border-radius: 4px;
  background-color: rgba(4, 14, 49, 0.377);
  padding: 10px;
}

.page {
  max-width: 800px;
  margin: 0px auto 80px auto;
  padding-top: 120px;
}

.page-content {
  min-height: 100vh;
}

/* for any glass background container, add this to the parent div */
.glass {
  position: relative;
  justify-content: flex-start;
  background-color: rgba(0, 18, 68, 0.438);
  margin: 0px 2px 0px 2px;
}
.glass:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./assets/background-image2.jpg) fixed center;
  filter: blur(10px);
  background-size: 100vw auto;
  /* box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.2) */
}

/* for any outlined container, add this to the parent div */
.outline {
  border: 1px solid rgba(255, 255, 255, 0.226);
  background-color: rgba(4, 14, 49, 0.241);
  width: 92%;
  margin: 15px;
}

/* this will be the universal border-radius */
.glass,
.outline {
  border-radius: 6px;
}

/* to make bootstrap columns equal height */
.row-eq-height {
  // margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height > .col-12 {
  margin-top: 4px;
}

/* some common text / button classes */
.title,
.subtitle {
  color: whitesmoke;
  padding: 10px 25px;
}
.title {
  font-size: 28px;
}
.subtitle {
  font-size: 18px;
}
.paragraph {
  font-size: 14px;
  padding: 4px 20px;
  align-self: flex-start;
}
.text {
  padding: 0px 25px;
}
.article-title {
  padding: 0px 20px;
  font-size: 16px;
}

/* buttons */
.block-button,
.article-button,
.add,
.warn,
.view {
  border: none;
}
.block-button {
  align-self: flex-start;
  margin: 10px 25px;
}
.article-button {
  margin: 4px;
}
.collection-button {
  margin: 20px;
}
.warn {
  background-color: rgb(180, 67, 86);
}
.warn:hover {
  background-color: rgb(146, 54, 69);
}
.warn-icon {
  color: rgb(180, 67, 86);
}
.warn-icon:hover {
  color: rgb(146, 54, 69);
}
.add {
  background-color: rgb(26, 98, 214);
}
.add:hover {
  background-color: rgb(0, 74, 194);
}
.back {
  background-color: rgb(117, 129, 148);
}
.back:hover {
  background-color: rgb(90, 97, 107);
}
.view {
  background-color: rgb(23, 146, 177);
}
.view:hover {
  background-color: rgb(16, 104, 126);
}

/* the nav component */
.navigator {
  background-color: white;
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
#logo {
  font-size: 32px;
  color: rgba(0, 60, 255, 0.94);
}
.nav-link {
  /* color: rgb(253, 233, 255); */
  transition: all 0.3s ease;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: rgb(161, 161, 161);
}
.nav-link:focus {
  text-decoration: underline;
}
//

/* the about page */
.about-img {
  width: 90%;
  margin: 10px;
  border-radius: 2px;
  box-shadow: -2px 2px 6px 1px rgba(24, 24, 24, 0.4);
}
.fa-file-alt,
.fa-users {
  color: whitesmoke;
  transition: all 0.3s ease;
  font-size: 24px;
  padding: 0px 20px;
}
.fa-project-diagram {
  color: whitesmoke;
  transition: all 1s ease;
  &:hover {
    transform: translateX(30px) translateY(-5px) rotate(35deg);
    -webkit-transform: translateX(30px) translateY(-5px) rotate(35deg);
    -ms-transform: translateX(30px) translateY(-5px) rotate(35deg);
    -moz-transform: translateX(30px) translateY(-5px) rotate(35deg);
    cursor: pointer;
    color: $main-blue;
  }
  font-size: 14px;
}
//

/* the search page */
.search-input {
  width: 60%;
  margin: 15px;
}
input {
  // margin: 15px;
  text-align: center;
}

/* the collection page */

/* the div holding the react-pdf PDFViewer */
.pdf-holder {
  // border: 10px solid black;
  // width: 600px;
  height: 800px;
}
/* the PDFViewer itself */
.pdf-viewer {
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}
.collection-title {
  margin: 20px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}
.collection-edit {
  margin: 8px 4px 0 0;
  padding: 4px;
  background-color: inherit;
  border-radius: 10px;
  font-size: 18px;
  background-color: whitesmoke;
}

.fa-edit,
.fa-trash-alt,
.fa-times,
.fa-save,
.fa-undo {
  color: whitesmoke;
  transition: all 0.3s ease;
  &:hover {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    cursor: pointer;
    color: rgb(167, 167, 167);
  }
  font-size: 24px;
}
.section-title {
  font-weight: bolder;
  font-size: 20px;
  margin: 20px 34px;
  align-self: flex-start;
}
.collection-block {
  width: 100%;
}

// the profile page
.profile-title {
  margin: 4px 20px;
  margin-top: 10px;
  font-size: 18px;
  align-self: flex-start;
  font-weight: 600;
}

.fa-atom,
.fa-dna {
  transition: all 1s ease;
  font-size: 24px;
  margin: 10px;
  color: $main-blue;
}
.fa-atom {
  &:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    cursor: pointer;
    color: whitesmoke;
  }
}
.fa-dna {
  &:hover {
    transform: rotateY(360deg) scaleY(1.3);
    -webkit-transform: rotateY(360deg) scaleY(1.3);
    -ms-transform: rotateY(360deg) scaleY(1.3);
    -moz-transform: rotateY(360deg) scaleY(1.3);
    cursor: pointer;
    color: whitesmoke;
  }
}

// the ThreadPage
.thread-title,
.thread-text,
.comment-title,
.comment-text {
  margin: 6px 20px;
}

.thread {
  align-self: flex-start;
}
.thread-title {
  font-weight: 600;
}
.thread-text {
  font-size: 14px;
}

.fa-edit,
.fa-trash-alt {
  font-size: 14px;
}
.fa-trash-alt {
  color: rgb(180, 67, 86);
  &:hover {
    color: rgb(146, 54, 69);
  }
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.comment-title,
.comment-text {
  font-size: 14px;
}
.comment-title {
  font-weight: 600;
}
// .comment-text {

// }

/* reactstrap modals */
/* this setting prevents the jumpy shift when the scrollbar disappears on modal popup */
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.modal-xl {
  /* margin: 0px; */
  padding: 1vw;
  max-width: 750px;
}

/* the article links */
.article-link {
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 22px;
}
.fa-dollar-sign {
  color: rgb(23, 177, 49);
  &:hover {
    color: rgb(13, 104, 30);
  }
}

// CSSTransitionGroup animations

// fade
.fade-enter {
  opacity: 0.01;
  transform: scaleY(0.8);
  -webkit-transform: scaleY(0.8);
  -ms-transform: scaleY(0.8);
  -moz-transform: scaleY(0.8);
  
}

.fade-enter.fade-enter-active {
  transition: all 200ms ease-in;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -moz-transform: scaleY(1);
  opacity: 1;
}

// .fade-leave {
// opacity: 1;
// }

.fade-leave.fade-leave-active {
  transition: all 300ms ease-out;
  transform: translateX(1500px) translateY(-300px);
  -webkit-transform: translateX(1500px) translateY(-300px);
  -ms-transform: translateX(1500px) translateY(-300px);
  -moz-transform: translateX(1500px) translateY(-300px);
  opacity: 0.01;
}

// input / text replacing one another
.replace-enter {
  opacity: 0.01;
}

.replace-enter.replace-enter-active {
  transition: all 300ms ease-in;
  opacity: 1;
}

// .replace-leave {
// opacity: 1;
// }

.replace-leave.replace-leave-active {
  transition: all 300ms ease-out;
  // transform: scaleX(0.01);
  opacity: 0.01;
}

// drop
.drop-enter {
  transition: all 300ms ease-in;
  opacity: 0.01;
}

.drop-enter.drop-enter-active {
  transition: all 300ms ease-in;
  opacity: 1;
}

// .drop-leave {
// opacity: 1;
// }

.drop-leave.drop-leave-active {
  transition: all 30ms ease-out;
  // transform: translateY(-300px);
  opacity: 0.01;
}
