
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  font-family: Quicksand;
  transition: all 0.1s ease-in-out;
}
body {
  background-attachment: fixed;
  background:url(./assets/background-image2.jpg) fixed center;
  background-size: 1600px auto;
  min-height: 100vh;
  overflow-x: hidden;

}
* > p {
  color: $text-color;
  font-size: 16px;
}
* > a {
  text-decoration: none;
}
* > span {
  width: 100%;
}

hr {
  /* border: 0; */
  width: 100%;               
  background-color: grey;
  height: 0.3px;
  margin-bottom: 10px;
}

/* to remove spacing between bootstrap cols - https://stackoverflow.com/questions/40267056/remove-spacing-between-cols */
.padding-0 {
  padding-right:0;
  padding-left:0;
}

// common uses
.heading, .glass, .outline, .article-result, .collection-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-result {
  width: 100%; 
  margin-top: 2px;
  border-radius: 4px;
  background-color: rgba(4, 14, 49, 0.377);
  padding: 10px;
}

.page {
  max-width: 800px;
  margin: 0px auto 80px auto;
  padding-top: 120px;
}

/* for any glass background container, add this to the parent div */
.glass {
  position:relative;
  background-color: rgba(0, 18, 68, 0.438);
  margin: 0px 2px 0px 2px;
}
.glass:before{
  content:'';
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:url(./assets/background-image2.jpg) fixed center;
  filter:blur(10px);
  background-size:100vw auto;
  /* box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.2) */
}

/* for any outlined container, add this to the parent div */
.outline {
  border: 2px solid rgba(255, 255, 255, 0.226);
  background-color: rgba(4, 14, 49, 0.241);  
  width: 92%;
  margin: 15px;
}

/* this will be the universal border-radius */
.glass, .outline {
  border-radius: 10px;
}

/* to make bootstrap columns equal height */
.row-eq-height{
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

/* some common text / button classes */
.title, .subtitle {
  color: whitesmoke;
  padding: 10px 25px;
}
.title {
  font-size: 40px;
}
.subtitle {
  padding-top: 0px;
  font-size: 24px;
}
.text, .paragraph {
  font-size: 16px;
}
.text {
  padding: 0px 25px;
}
.paragraph {
  padding: 10px 20px;
}
.article-title {
  padding: 0px 20px;
}
.article-title {
  font-size: 16px;
}



/* buttons */
.block-button, .article-button, .add, .warn, .view {
  border: none;
}
.block-button {
  align-self: flex-start;
  margin: 10px 25px;
}
.article-button {
  margin: 4px;
}
.collection-button {
  margin: 20px;
}
.warn {
  background-color: rgb(180, 67, 86);
}
.warn:hover {
  background-color: rgb(146, 54, 69);  
}
.add {
  background-color: rgb(26, 98, 214);
}
.add:hover {
  background-color: rgb(0, 74, 194);
}
.view {
  background-color: rgb(23, 146, 177);
}
.view:hover {
  background-color: rgb(16, 104, 126);

}


/* the nav component */
.navigator {
  background-color: white;
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
#logo {
  font-size: 32px;
  color: rgba(0, 60, 255, 0.94)
}
.nav-link {
  /* color: rgb(253, 233, 255); */
  transition: all 0.3s ease;
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: rgb(161, 161, 161);
}
.nav-link:focus {
  text-decoration: underline;
}

/* the search page */
.search-input {
  width: 60%;
  margin: 15px;
}
input {
  // margin: 15px;
  text-align: center;
}


/* the collection page */

/* the div holding the react-pdf PDFViewer */
.pdf-holder {
  // border: 10px solid black;
  // width: 600px;
  height: 800px;
}
/* the PDFViewer itself */
.pdf-viewer {
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}
.collection-title {
  margin: 20px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}
.collection-edit {
  margin: 8px 4px 0 0;
  padding: 4px;
  background-color: inherit;
  border-radius: 10px;
  font-size: 18px;
  background-color: whitesmoke;
}

.fa-edit, .fa-times, .fa-save, .fa-undo {
  color: whitesmoke;
  transition: all 0.3s ease;
  &:hover {
    transform: translateX(-2px);
    cursor: pointer;
    color: orange;
  }
}
.section-title {
  font-size: 30px;
  margin: 0px;
  margin-top: 20px;
}
.collection-block {
  width: 100%;
}

/* reactstrap modals */
/* this setting prevents the jumpy shift when the scrollbar disappears on modal popup */
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.modal-xl {
 /* margin: 0px; */
 padding: 1vw;
 max-width: 750px;
}

/* the article links */
.article-link {
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 22px;
}
.fa-dollar-sign {
  color: rgb(23, 177, 49);
  &:hover {
  color: rgb(13, 104, 30);
  }
}

// CSSTransitionGroup animations

// fade
.fade-enter {
  opacity: 0.01;
  transform: scaleY(0.8);
}

.fade-enter.fade-enter-active {
  transition: all 200ms ease-in;
  transform: scaleY(1);
  opacity: 1;
}

// .fade-leave {
  // opacity: 1;
// }

.fade-leave.fade-leave-active {
  transition: all 300ms ease-out;
  transform: translateX(1500px) translateY(-300px);
  opacity: 0.01;
}

// input / text replacing one another
.replace-enter {
  opacity: 0.01;
}

.replace-enter.replace-enter-active {
  transition: all 300ms ease-in;
  opacity: 1;
}

// .replace-leave {
  // opacity: 1;
// }

.replace-leave.replace-leave-active {
  transition: all 300ms ease-out;
  // transform: scaleX(0.01);
  opacity: 0.01;
}